<div class="row">
    <div class="col-sm-6 mt-3" *ngFor="let item of characters | paginate: {itemsPerPage: 10, currentPage: p}">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" class="card-img-top rounded-circle" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modalFav"> <a class="text-white" href="{{item.urls[0].url}}" target="_blank">View More</a></button>
                    </div>
                </div>

                <h5 class="card-title-second mt-2">Related Comics</h5>
                <div class="row">
                    <div class="col-sm-6" *ngFor="let comic of item.comics.items">
                        <a #comic class="card-text link-red" href="#" (click)="openModalComics(comic.resourceURI)" data-toggle="modal" data-target=".modalComic">{{comic.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-sm-12 text-center">
        <pagination-controls class="my-pagination" (pageChange)="p = $event">
        </pagination-controls>
    </div>
</div>

<div class="modal fade modalComic" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="card justify-content-center">
                <div class="card-body">
                    <div class="row" *ngIf="showComic">
                        <div class="col-sm-12 col-lg-6">
                            <img src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}} " class="card-img-top" alt="...">
                        </div>
                        <div class="col-sm-12 col-lg-6 mt-3">
                            <h5 class="card-title title-comic">{{comic.title}}</h5>
                            <p class="card-text p-comic">{{comic.description}}</p>
                        </div>
                    </div>
                    <div class="row mt-3 ">
                        <div class="col-sm-12 col-lg-6 add d-flex align-items-center justify-content-center" *ngIf="!showAdded">
                            <a href="#" class="title-comic" (click)="addFavComic()">
                                <img src="assets/btn-favourites-default.png" width="40" height="40" class="d-inline-block align-top" alt=""> ADD TO FAVOURITES
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6 added d-flex align-items-center justify-content-center" *ngIf="showAdded">
                            <a class="title-comic font-red">
                                <img src="assets/btn-favourites-primary.png" width="40" height="40" class="d-inline-block align-top" alt=""> ADDED TO FAVOURITES
                            </a>
                        </div>
                        <div class="col-sm-12 col-lg-6 buy d-flex align-items-center justify-content-center">
                            <a href="#" class="title-comic ">
                                <img src="assets/shopping-cart-primary.png" width="40" height="40" class="d-inline-block align-top" alt=""> BUY FOR {{price}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
