.btn-primary {
    background-color: rgb(236, 29, 36);
    border-color: rgb(236, 29, 36);
}

.card-text {
    font-size: small;
    color: gray;
}

.card-title-second {
    color: gray;
    font-weight: 500;
    font-size: larger;
}

.my-pagination ::ng-deep .ngx-pagination .current {
    background: red;
}

.title-comic {
    font-size: x-large;
}

.p-comic {
    font-size: medium;
}

.add {
    background-color: rgb(240, 240, 240);
}

.added {
    background-color: rgb(220, 220, 220);
    ;
}

a {
    text-decoration: none;
    color: black;
}
