.btn-primary {
    background-color: rgb(236, 29, 36);
    border-color: rgb(236, 29, 36);
}

.card-text {
    font-size: small;
    color: gray;
}

.card-title-second {
    color: gray;
    font-weight: 500;
    font-size: larger;
}
