<div class="row">
    <div class="col-sm-6 mt-3" *ngFor="let item of characters">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-6">
                        <img src="{{item.thumbnail.path}}.{{item.thumbnail.extension}}" class="card-img-top rounded-circle" alt="...">
                    </div>
                    <div class="col-sm-6">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <a href="#" class="btn btn-primary">View More</a>
                    </div>
                </div>

                <h5 class="card-title-second mt-2">Related Comics</h5>
                <div class="row">
                    <div class="col-sm-6">
                        <p class="card-text" *ngFor="let comic of item.comics.items">{{comic.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
