<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12 col-lg-8 col-xl-8">
            <a class="" href="#">
                <img src="../../../../assets/characters.png" width="30" height="30" class="d-inline-block align-top" alt=""> Characters
            </a>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-4">
            <form>
                <div class="form-group">
                    <select #orderby class="form-control" id="exampleFormControlSelect1" (change)="showData(orderby.value)">
                    <option selected>Sort by</option>
                    <option value="orderBy=name">Name Asc</option>
                    <option value="orderBy=-name">Name Des</option>
                    <option value="orderBy=modified">Modified Asc</option>
                    <option value="orderBy=-modified">Modified Des</option>
                </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-lg-10 col-xl-10 color-right">

            <div *ngIf="managerDataService.showTextSearchEmpty" class="text-center">
                <h1>Not found... </h1>
            </div>
            <app-card-person [characters]="managerDataService.character"></app-card-person>
        </div>

        <div class="col-sm-12 col-lg-2 col-xl-2 color-left">
            <div class="row mt-2">
                <div class="col-sm-12">
                    <a class="" href="#">
                        <img src="../../../../assets/btn-favourites-primary.png" width="30" height="30" class="d-inline-block align-top" alt=""> My Favourites
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-img-like [itemsFav]="managerDataService.storage"></app-img-like>
                </div>
            </div>
        </div>
    </div>
</div>
