<div class="container">
    <div class="row mt-2">
        <div class="col-sm-12 col-lg-8 col-xl-8">
            <a class="" href="#">
                <img src="../../../../assets/characters.png" width="30" height="30" class="d-inline-block align-top" alt=""> Characters
            </a>
        </div>
        <div class="col-sm-12 col-lg-4 col-xl-4">
            <form>
                <div class="form-group">
                    <select class="form-control" id="exampleFormControlSelect1">
                    <option selected>Sort by</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-lg-10 col-xl-10 color-right">
            <div class="row">
                <div class="col-sm-5 mt-3">
                    <app-card-person></app-card-person>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-2 col-xl-2 color-left">
            <div class="row mt-2">
                <div class="col-sm-12">
                    <a class="" href="#">
                        <img src="../../../../assets/btn-favourites-primary.png" width="30" height="30" class="d-inline-block align-top" alt=""> My Favourites
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <app-img-like></app-img-like>
                </div>
            </div>
        </div>
    </div>
</div>
